<!DOCTYPE html>
<html>
  <head>
    <title>Madang.Inc - Hiring</title>
    <link rel="stylesheet" href="../Style/employeeHomePage/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="header">
          <div class="logo">Dash Board</div>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
        <div class="navigation">
          <ul>
            <li>
              
              <a href="#"><i   class="fa-solid fa-user"></i>User Profile
              </a>
            </li>
            <li>
              <a href="../HTML/empDailyTask.html"><i  class="fa-solid fa-list-check"></i></i>View Daily Task
              </a>
            </li><li>
              <a href="../HTML/empViewMap.html"><i  class="fa-solid fa-map-location-dot"></i></i></i>View Pickup</a>
            </li><li>
              <a href="#"><i  class="fa-solid fa-bars-progress"></i></i>View WasteStock</a>
            </li><li>
              <a href="../HTML/empAlertSection.html"><i class="fa-solid fa-circle-exclamation"></i>Alert</a>
            </li>
            <li>
              <a href="#"><i  class="fas fa-bell"></i> Notifications</a>
            </li>
            <li>
              <a href="#"><i  class="fas fa-envelope"></i> Inbox</a>
            </li>
            <li>
              <a href="../HTML/viewStatistic.html"><i  class="fas fa-chart-bar"></i> Statistic</a>
            </li>
            <li>
              <a href=""><i  class="fas fa-sticky-note"></i> Notes</a>
            </li>
            <li>
              <a href="#"><i  class="fas fa-download"></i> Downloaded reports</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- main Section  -->

      
        <div class="main-content">
          <div class="notifications">
            <div class="header">
              <h2>Notifications</h2>
              <span class="close">X</span>
            </div>
            <div class="content">
              <p>You don't have any notifications</p>
              <p>
                We'll tell you if you have any notifications or new updates when
                you mentioned
              </p>
              <button class="button">View More</button>
            </div>

            <div class="content">
              <p>You don't have any notifications</p>
              <p>
                We'll tell you if you have any notifications or new updates when
                you mentioned
              </p>
              <button class="button">view More</button>
            </div>

            <div class="content">
              <p>You don't have any notifications</p>
              <p>
                We'll tell you if you have any notifications or new updates when
                you mentioned
              </p>
              <button class="button">View More</button>
            </div>

          </div>
          <!-- <div class="candidates">
            <table class="table">
              <thead>
                <tr>
                  <th>Phone number</th>
                  <th>Country</th>
                  <th>Cover letter</th>
                  <th>Previous salary</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>(+1) 823 9123 8321</td>
                  <td>
                    <img
                      src="https://www.countryflags.io/us/flat/64.png"
                      alt="US"
                      class="icon"
                    />
                  </td>
                  <td>
                    <a href="#" class="cover-letter">Headchef_CV.docx</a>
                  </td>
                  <td>$8238,192</td>
                  <td>
                    <button>View</button>
                  </td>
                </tr>
                <tr>
                  <td>(+1) 723 8313 5123</td>
                  <td>
                    <img
                      src="https://www.countryflags.io/au/flat/64.png"
                      alt="AU"
                      class="icon"
                    />
                  </td>
                  <td>
                    <a href="#" class="cover-letter">Final_CV.pdf</a>
                  </td>
                  <td>$2600,382</td>
                  <td>
                    <button>View</button>
                  </td>
                </tr>
                <tr>
                  <td>(+1) 723 8233 6651</td>
                  <td>
                    <img
                      src="https://www.countryflags.io/in/flat/64.png"
                      alt="IN"
                      class="icon"
                    />
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <button>View</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
