body {
    font-family: 'Arial', sans-serif;
}


.w-screen img {
    height: 24rem; 
    width: 100%; 
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 2rem; 
    padding: 2rem 0; 
    background-color: #f7fafc; 
}


.service-card {
    background-color: #e2e8f0; 
    padding: 1.5rem; 
    border-radius: 0.5rem; 
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); 
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}


.service-image {
    object-fit: cover;
    height: 12rem;
    width: 24rem;
    border-radius: 0.5rem; 
}


.service-title {
    margin-top: 0.5rem; 
    font-size: 1.5rem; 
    font-weight: bold;
    color: #38a169; 
}


.service-description {
    margin-top: 0.5rem; 
    color: #2d3748; 
}

/* Service Link */
.service-link {
    margin-top: 1rem; 
    display: inline-block;
    color: #38a169; 
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.service-link:hover {
    color: #4299e1; 
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}
